*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    display: flex;
    padding: 20px;
    background-color: #A359A0;
    height: 40px;
    align-items: center;
width: 100%;
}
.logo img{
    max-width: 15%;
}
.nav-menu ul{
 display: flex;
}
.nav-menu li{
    list-style: none;
    margin-right: 20px;
}
.nav-menu li:last-child{
    margin-right: 0;
}
.nav-menu a{
    text-decoration: none;
    font-family: "Dongle-bold";
    font-size: 1.6rem;
    color: white;
    transition: all ease 0.3s;
}
.nav-menu a:hover{
    color: #ff7f50;
}

